@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
    .testimonial-box .card{
        width: 45%;
        padding: 10px;
    }
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: row;
    }
    .footerNav ul li{
        width: 40%;
        text-align: center;
        font-size: 0.9em;
        display: grid;
    }
    .col-md-4, .col-md-3{
        margin:5px 5px;
    }
}

footer{
    background-color: #1d1d1d;
}

.button-container button{
    width: 100%;
    height: 45px;
    background: #1d1d1d;
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color:white;
    font-weight: 600;
    font-size:15px;
}

.button-container {
    display: flex;
}

.button-container button:hover, .bx:hover{
    color: rgb(255, 200, 0);
}

.footerContainer{
    width: 100%;
    padding: 50px 10px 5px;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color: rgb(255, 200, 0);
    margin: 20px;
    text-decoration: none;
    font-size: 0.9em;
}

.footerNav ul li a:hover{
    opacity: 1;
    color: rgb(255, 255, 255);
}



.footerBottom{
    background-color: black;
    text-align: center;
}

.footerBottom p{
    color: rgb(255, 200, 0);  
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 200, 0);
    margin: 10px;
    border-radius: 30%;
}

.socialIcons a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #0c0c0caf;
    transition: 0.3s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.3s;
}

.copyrights{
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.logo{
    height: 48px;
    padding: 2px 10px;
}

.backgroundmain {
    background-color: wheat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 200, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link{
    color: #ffffff;
}

.bottomhome {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 6=100;
    background-color: rgba(255, 223, 223, 0.322);
    font-style: italic;
    font-family: fantasy;
}

.navbar .container-fluid a{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 200, 0);
}

.navbar .container-fluid a:hover{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.navbarcolor{
    background-color: #1d1d1d;
}

body{
    background: url('media/bg.jpg') #1d1d1dc0;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

.hometext h1{
    padding-top: 250px;
    color: rgb(255, 200, 0);
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
}

.hometext h4{
    color: rgb(255, 200, 0);
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: monospace;
}

.homeimg {
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
}

.container .featuredprod {
    color: #1d1d1d;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}


.card{
    margin-bottom: 20px;
}

.container .h3 {
    color: rgb(255, 200, 0);
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.container .mags {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    font-family: fantasy;
}

.featured {
    align-items: center;
    text-decoration: none;
    color: black;
}

.buynowbtn{
    padding: 10px 40px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-body {
    background-color: rgb(255, 200, 0);
    font-weight: 600;
}

.card {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.322);
}

.card .card-title {
    font-size: 20px;
    font-weight: 600;
}

.card .card-text {
    font-size: 13px;
}

.aboutusintro {
    color: rgb(255, 200, 0);
    text-align: center;
    font-weight: 600;
}

.story, .goal{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.terms, .privacy, .content{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 200, 0);
    font-weight: 600;
}

.header-icon{
    font-size: 25px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
    color: rgb(255, 200, 0);
}

.button-container button i{
    font-size: 15px;
    cursor: pointer;
    z-index: 10000;
    column-gap: 0.8rem;
    color: white;
}

.loginbtn{
    width: 100%;
    height: 45px;
    background: rgb(255, 200, 0);
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color:black;
    font-weight: 600;

}

.loginbtn:hover{
    color: black;
    background-color: white;
}

.addnowbtn:hover {
    color: black;
    background-color: white;
}

.shopping{
    position: relative;
    text-align: right;
}

.shopping img{
    width: 40px;
}

.shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 90%;
    padding: 3px 8px;
    width: 10px;
    font-size: 9px;
}

.product-price {
    color: red;
    font-weight: 600;
}

.col-lg h1 {
    font-family: fantasy;
}

.testimonial-heading{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.testimonial-heading span{
    font-size: 1.3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.reviews-heading{
    font-family: poppins;
}

#feauturedprod{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productswheels-heading{
    letter-spacing: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productswheels-heading h1{
    font-size: 2.5rem;
    font-family: 'poppins';
}

.reviews-heading{
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-heading h1{
    font-size: 3.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.reviews-heading span{
    font-size: 2.3rem;
    text-transform: uppercase;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffffff;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.reviews{
    color: rgb(255, 200, 0);
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment{
    font-size: 0.9rem;
    color: #4b4b4b;
}

.seeall-heading{
    font-family: poppins;
}

.seeall-heading{
    letter-spacing: 3px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.seeall-heading h1{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
}

.seeall-heading span{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.seeall-heading a{
    text-decoration: none;
}

.testimonial-box:hover{
    transform: scale(1.5);
    transition: all ease 0.3s;
}

.dropbtn {
    background-color: #d3c8c800;
    color: rgb(255, 200, 0);
    padding: 16px;
    font-size: 14px;
    border: none;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover{
    color: white;
}

.faqs-heading h1{
    letter-spacing: 0.01rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    line-height: 1.5em;
}

.faqs-heading h2{
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .02em;
    line-height: 2em;
    text-transform: none;
}

.paymentmethod li p{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 1.3em;
    text-transform: none;
}

.wrapper{
    width: 420px;
    background: top;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
}

#body1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: rgb(255, 200, 0);

}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box select{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
}

input[type='file']{
    color:#fff;
    font-size:16px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.input-box select option{
    color: black;
    background-color: #fff;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 2 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a{
    color: rgb(8, 233, 241);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .loginbtn{
    width: 100%;
    height: 45px;
    background: rgb(255, 200, 0);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:black;
    font-weight: 600;
}

.loginbtn{
    width: 100%;
    height: 45px;
    background: rgb(255, 200, 0);
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color:black;
    font-weight: 600;

}

.loginbtn:hover{
    color: white;
    background-color: rgb(255, 200, 0);
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: rgb(8, 233, 241);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.register-link .button{
    color: rgb(8, 233, 241);
}

.contactus-heading h1{
    letter-spacing: 0.01rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    line-height: 1.5em;
    font-weight: 600;
    color: white;
}

.hero{
    height: 100vh;
}

.contactusform{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

.contactforminput {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: black;
    font-size: 15px;
    
}

.contactformlabel{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

.contactformbutton {
    padding: 10px 0;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    background-color: rgb(255, 200, 0);
    border-radius: 20px;
}

.contactforminput:focus~.contactformlabel,
.contactforminput:valid~.contactformlabel{
    top: -35px;
    font-size: 14px;
    color: white;
}

.namerow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.namerow .input-group{
    flex-basis: 50%;
}

